<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassportJs Demo</title>
</head>
<body>
    <nav>
        <ul>
            <% if(!user){ %>
            <li><a href="/auth/login">Login</a></li>
            <% }else{ %>    
            <li><a href="/auth/logout">Logout</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <h1>Homepage</h1>
    <h2>Passport Tutorial</h2>
    <br>
    <h3>This is just a demonstration of how Passport.Js works</h3>
    <p>So be patient and pay attention folks</p>
    <main>This is really going to be interesting</main>
</body>
</html>