<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Home Page</a></li>
            </ul>
        </nav>
        <header>
            <h2>Hello there! Just log in first so that we can start our journey.</h2>
        </header>
        <main>
            <strong><a href="/auth/google"> Sign In With Google</a></strong>
        </main>
        <script src="" async defer></script>
    </body>
</html>